@import "../scss/reset/reset";
@import "../scss/utilities/mixin";
@import "../scss/utilities/variables";
@import "../scss/components/header";
@import "../scss/components/nav";
@import "../scss/components/h1-h6";
@import "../scss/layouts/index";
@import "../scss/layouts/footer";
@import "../scss/cards/cards1";
@import "../scss/cards/cards2";
@import "../scss/components/form";
@import "../scss/components/bootstrap";
@import "../scss/responsive/movil";
@import "../scss/responsive/tablet";
