.video_nosotros {
    margin: 30px auto 20px;
    width: 100%;
    @include flexible(flex , row , wrap , center , center);
  }
  
  .desc_salones {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    padding: 0 6em 1em 6em;
    font-weight: 100;
    
    
  }
  
  video {
    width: 630px;
    padding-left: 3%;
  }
  
  
  .servicios {
    @include flexible(flex , row , wrap , center , center);
    padding: 30px 50px;
    text-align: center;
    

    &__foto {
      height: 400px;
      width: 300px;
      margin: 5px 10px;
      padding: 5px;
      transition: 0.3s;
      border: 1px solid rgb(201, 201, 201);

      &:hover {
        box-shadow: #838385 1px 2px 1px;
        margin-top: -5px;
      }

      p {
        color: #838385;
        font-size: 18px;
        padding: 10px 20px;
      }
    } 
  }
  
  .servicios div h4 {
    color: $secundario;
    font-size: 30px;
    margin: 15px 0;
  }
  
  
  
 
  
  
  
  
  